@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dae0e6;
}

:root {
  --main-font: 'IBM Plex Sans', Arial, sans-serif;
  --secondary-font: 'Noto Sans', Arial, sans-serif;
  ;
  --orange-color: #FF4500;
  --white-color: #fff;
  --text-gray-color: #1c1c1c;
  --dark-bg-color: #1a1a1b;
  --black-color: #000;
  --gray-color: #a5a5a5;
  --light-gray-color: #d7dadc;
  --blue-color: #0079d3;
  --icon-gray-color: #878a8c;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Start Header Section */

header {
  width: 100vw;
  background-color: var(--white-color);
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid #edeff1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

header .left .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .left .logo-icon {
  width: 32px;
  height: 32px;
}

header .left .logo-text {
  width: 57px;
}

header .middle {
  background-color: #f6f7f8;
  border-radius: 1.25rem;
  width: 45%;
  max-width: 690px;
  height: 40px;
  border: 1px solid #f6f7f8;
  display: flex;
  align-items: center;
  padding: 0 20px 0 15px;
}

header .middle:hover {
  border-color: var(--blue-color);
  cursor: context-menu;
}

header .middle i {
  margin-right: 9px;
  font-size: 20px;
  color: var(--icon-gray-color);
}

header .middle input {
  margin-right: 14px;
  line-height: 14px;
  font-size: 14px;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--text-gray-color);
}

header .right {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

header .right button:not(:last-child),
nav .join-btn,
.right-side-menus .see-more-btn {
  width: 120px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  border-radius: 9999px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  padding: 4px 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .right button:not(:last-child) span {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .right .get-app-btn {
  gap: 0.5rem;
  background-color: #f6f7f8;
}

header .right .get-app-btn:hover {
  background-color: #e4e6e7;
}

header .right .log-in-btn,
nav .join-btn {
  background-color: var(--orange-color);
  color: var(--white-color);
}

header .right .log-in-btn:hover,
nav .join-btn {
  background-color: #ff5414;
}

header .right .setting-btn {
  height: 32px;
  width: 70px !important;
  min-height: 32px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent !important;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px !important;
}

header .right .setting-btn:hover,
header .right .setting-btn:focus {
  border-color: #edeff1 !important;
}

header .right .setting-btn i {
  font-size: 18px;
  color: var(--icon-gray-color);
}

.setting-menu {
  position: absolute;
  right: 0;
  top: 32px;
  width: 210px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 6px 2px 2px 2px;
  border-radius: 0 0 4px 4px;
  color: var(--text-gray-color);
  background-color: var(--white-color);
  display: none;
  font-family: var(--main-font);
}

.setting-menu.active {
  display: block;
}

nav li,
.setting-menu li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.setting-menu>li:last-child {
  border-top: 1px solid #edeff1;
}

.setting-menu>li:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.setting-menu>li:hover i {
  color: var(--white-color);
}

nav div>ul>li span,
.setting-menu>li span {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

nav div>ul>li i,
.setting-menu>li i {
  font-size: 18px;
  color: var(--text-gray-color);
}

nav div>ul>li i:first-child,
.setting-menu>li i:first-child {
  margin-right: 0.8rem;
}

nav div>ul>li i:not(:first-child),
.setting-menu>li i:not(:first-child) {
  margin-left: auto;
  transition: transform .3s ease-out;
}

nav div>ul>li i.rotated:not(:first-child),
.setting-menu>li i.rotated:not(:first-child) {
  transform: rotate(180deg);
}

.sub-setting-menu {
  background-color: var(--white-color);
  width: 100%;
  display: none !important;
}

.sub-setting-menu.active {
  display: block !important;
}

.sub-setting-menu a li {
  height: 40px;
  color: var(--text-gray-color);
  background-color: var(--white-color);
  text-align: left;
  padding: 10px 1rem 10px 3.6rem !important;
}

.sub-setting-menu a li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.sub-setting-menu:last-of-type a li:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
}

/* End Header Section */

/* Start Navbar Section */

nav {
  position: fixed;
  top: 50px;
  left: 0;
  background-color: var(--white-color);
  width: 270px;
  height: calc(100vh - 50px);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav div {
  height: 67vh;
  overflow-y: auto;
  overflow-x: hidden;
}

nav div>span {
  display: block;
  font-size: 10px;
  color: var(--icon-gray-color);
  font-family: var(--main-font);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  height: 40px;
  padding: 16px 24px 8px;
}

nav .main-menu a {
  color: var(--text-gray-color);
}

nav .main-menu a li {
  color: var(--text-gray-color);
  font-family: var(--main-font);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px 10px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}

nav .main-menu a li span {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

nav .main-menu a li i {
  font-size: 22px;
  margin-right: 0.8rem;
  color: var(--text-gray-color);
}

nav ul {
  font-family: var(--secondary-font) !important;
}

nav ul:first-of-type {
  font-family: var(--main-font);
}

nav ul li {
  font-size: 14px !important;
}

nav ul li:hover,
nav .sub-setting-menu:last-of-type a li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  color: var(--text-gray-color);
}

nav .sidebar-menu .sub-setting-menu a li {
  padding-left: 0.6rem !important;
  margin-left: 2.5rem;
}

nav .bottom-section {
  padding: 20px 24px 40px;
  border-top: 1px solid #edeff1;
  background-color: var(--white-color);
  font-family: var(--secondary-font);
  width: 270px;
  height: 214px;
  position: fixed;
  bottom: 0;
  left: 0;
}

nav .sidebar-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 1rem 24px 22px 0;
}

nav .join-btn {
  width: 100%;
  height: 40px;
}

/* End Navbar Section */

/* ---- Start Body Section ---- */
section.body {
  padding: 66px 10%;
  width: 100%;
  max-width: 990px;
  margin-left: 200px;
}

@media (min-width: 1250px) {
  section.body {
    padding: 66px 2.5%;
    width: 100%;
    max-width: 1110px;
    /* float: none; */
  }
}

/* Start Trending Section */

.trending {
  width: 100%;
  margin-bottom: 20px;
}

.trending h3,
.posts h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
  color: var(--dark-bg-color);
  font-family: var(--main-font);
}

.trending .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 0.8rem;
  color: var(--white-color);
  height: 178px;
  overflow: hidden;
}

.trending .card {
  height: 178px;
  background-position: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.trending .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-image: linear-gradient(0deg, #000, rgba(0, 0, 0, .8) 25%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, .4) 75%, rgba(0, 0, 0, .2));
  background-size: cover;
}

.trending .card>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trending .card .content {
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 3;
  padding-right: 12px;
}

.trending .card .content h2 {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.trending .card .content p {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.trending .card .content .user {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.trending .card .content .user img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.trending .card .content .user span {
  font-family: var(--main-font);
  font-size: 12px;
}

/* End Trending Section */

/* Start Posts Section */

/* POST HEAD */
.posts {
  flex: 1;
}

.posts .posts-head,
.posts .create-post-contain {
  border-radius: 4px;
  background-color: var(--white-color);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding: 10px 12px;
  flex-flow: row nowrap;
  font-family: var(--secondary-font);
}

.posts .create-post-contain .avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}

.posts .create-post-contain .avatar img,
.posts .create-post-contain .avatar .icon {
  width: 100%;
  height: 100%;
  background-color: var(--gray-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.posts .create-post-contain .avatar .icon svg {
  fill: var(--icon-gray-color);
  height: 100%;
  width: 100%;
}

.posts .create-post-contain .avatar .active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid var(--white-color);
  background-color: #46d160;
  position: absolute;
  bottom: 0;
  right: -4px;
}

.posts .create-post-contain .text-post {
  flex: 1;
  display: block;
  background-color: #f6f7f8;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #edeff1;
}

.posts .create-post-contain .text-post:hover,
.posts .create-post-contain .text-post:focus {
  border: 1px solid #0079d3;
}

.posts .create-post-contain .text-post input {
  background: transparent;
  border: none;
  outline: none;
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.posts .create-post-contain .image-post,
.posts .create-post-contain .link-post {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts .create-post-contain .image-post:hover,
.posts .create-post-contain .link-post:hover {
  background-color: #ededed;
}

.posts .create-post-contain .image-post i,
.posts .create-post-contain .link-post i {
  font-size: 20px;
  color: var(--icon-gray-color);
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.posts .posts-head a,
.posts .posts-head select {
  color: var(--icon-gray-color);
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 8px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: px;
}

.posts .posts-head select {
  border: none;
  outline: none;
}

.posts .posts-head a.active,
.posts .posts-head select {
  background-color: #f6f7f8;
  color: var(--blue-color);
}

.posts .posts-head a:hover {
  background-color: #e5e6e7;
}

.posts .posts-head a.rising-menu {
  position: relative;
}

.posts .posts-head a.rising-menu li {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 4px;
  background-color: var(--white-color);
  color: var(--icon-gray-color);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  display: none;
}

.posts .posts-head a.rising-menu li:hover {
  background-color: #e9f5fd;
  color: var(--text-gray-color);
}

.posts .posts-head a.rising-menu.dropped li {
  display: flex;
}

.posts .posts-head a i {
  font-size: 20px;
  width: 20px;
  height: 20px;
  padding: 0 8px 0 0;
  line-height: 20px;
  display: inline-block;
}

.posts .posts-head a span,
.posts .posts-head select {
  text-align: left;
  line-height: 18px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
}

.posts .posts-head .place-selection ul {
  width: 100%;
  border-radius: 0;
}

.posts .posts-head .place-selection option {
  display: block;
  padding: 8px;
  background-color: red;
}

.posts .posts-head .posts-pattern {
  margin-left: auto;
}

/* POST HEAD */

/* POST ITEM */
.posts .post {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: var(--white-color);
  border: thin solid #ccc;
  cursor: pointer;
  display: flex;
}

.posts .post:hover {
  border: 1px solid #898989;
}

.post .left-side {
  width: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem 0.25rem;
  background-color: #f8f9fa;
  border-radius: 4px 0 0 4px;
}

.post .left-side i {
  color: var(--icon-gray-color);
  font-size: 20px;
  font-weight: 400;
  padding: 4px;
  border-radius: 2px;
  pointer-events: all;
}

.post .left-side i:hover {
  background-color: #e1e2e3;
}

.post .left-side i:first-of-type:hover {
  color: #cc3700;
}

.post .left-side i:last-of-type:hover {
  color: #5a75cc;
}

.post .left-side #like-icon.active {
  color: #cc3700;
  pointer-events: none;
}

.post .left-side #dislike-icon.active {
  color: #5a75cc;
  pointer-events: none;
}

.post .right-side {
  flex: 1;
}

.post .post-head {
  padding: 8px;
  font-family: var(--main-font);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post .post-head img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 4px;
}

.post .post-head .group-link {
  font-size: 12px;
  font-family: inherit;
  font-weight: 700;
  color: var(--text-gray-color);
}

.post .post-head .group-link:hover,
.post .post-head .username:hover {
  text-decoration: underline;
}

.post .post-head .dot-item {
  display: inline-block;
  margin: 0 4px;
  color: #7c7c7c;
  font-size: 6px;
  line-height: 20px;
  vertical-align: middle;
}

.post .post-head .posted-by,
.post .post-head .username,
.post .post-head .posted-at {
  font-family: inherit;
  color: #787C7E;
  font-size: 12px;
  margin-left: 3px;
}

.post .post-head .join-btn {
  margin-left: auto;
  font-family: var(--secondary-font);
  padding: 4px 1rem;
  font-size: 12px;
  font-weight: 700;
  line-height: 1rem;
  min-height: 24px;
  min-width: 24px;
  border-radius: 9999px;
  cursor: pointer;
  border: none;
  outline: none;
}

.post .post-head .join-btn:hover {
  background-color: #e4e6e7;
}

.post .post-caption {
  margin: 0 0.5rem;
}

.post .post-caption h3 {
  font-size: 18px;
  font-family: var(--main-font);
  word-break: break-all;
  vertical-align: baseline;
  display: inline;
  line-height: 22px;
  font-weight: 500;
  color: #222;
}

.post .post-caption a {
  font-family: var(--main-font);
  color: #fff;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  padding: 2px 0.5rem;
  font-size: 12px;
  font-weight: 500px;
  line-height: 16px;
  margin-right: 5px;
  margin-left: 10px;
  overflow: hidden;
}

.post .post-caption a:hover {
  background-color: #ff5414;
}

.post .post-media {
  padding: 13px 0 10px;
  vertical-align: baseline;
  background-color: var(--white-color);
  text-align: center;
}

.post .post-media img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 512px;
}

.post .post-media video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: none !important;
  object-fit: contain;
}

.post .post-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 40px;
  color: var(--icon-gray-color);
  padding: 2px 8px;
  /* background-color: royalblue; */
}

.post .post-social div {
  border-radius: 2px;
  padding: 8px 4px;
  line-height: 16px;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.post .post-social div:hover {
  background-color: #e8e8e8;
}

.post .post-social div i {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 6px;
}

.post .post-social div span {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 700;
}

.posts .post-social .more-sec {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  text-align: center;
  position: relative;
}

.posts .post-social .more-sec .more-icon {
  width: 100%;
}

.posts .post-social .more-sec ul {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 4px;
  background-color: var(--white-color);
  border: 1px solid #edeff1;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, .2);
  display: none;
}

.posts .post-social .more-sec.dropped ul {
  display: block;
}

.posts .post-social .more-sec li {
  color: var(--icon-gray-color);
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  border-top: 1px solid #edeff1;
  width: 100%;
}

.posts .post-social .more-sec li i {
  margin-right: 6px;
  font-size: 20px;
  position: absolute;
}

.posts .post-social .more-sec li span {
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 500;
  margin-left: 35px;
}

.posts .post-social .more-sec li:hover {
  background-color: #e9f5fd;
  color: var(--text-gray-color);
}

/* POST ITEM */

/* End Posts Section */


/* Start Right Side Menu Section */
.right-side-menus {
  width: 310px;
  max-width: 310px;
  border-color: var(--white-color);
  border-radius: 4px;
  overflow: hidden;
  margin-top: 28px;
}

.right-side-menus li {
  width: 100%;
  height: 40px;
  background-color: var(--white-color);
  border-bottom: 1px solid #edeff1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: pointer;
}

.right-side-menus li span {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  font-family: var(--main-font);
  color: var(--dark-bg-color);
}

.right-side-menus li i {
  color: var(--icon-gray-color);
  transition: transform .3s ease-out;
}

.right-side-menus li i.rotated {
  transform: rotateX(180deg);
}

.right-side-menus .sub-setting-menu {
  padding: 12px;
  border-bottom: 1px solid #edeff1;
}

.right-side-menus .sub-setting-menu a {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 8px;
  margin-right: 24px;
  display: inline-block;
  font-family: var(--main-font);
  color: var(--dark-bg-color);
}

.right-side-menus .sub-setting-menu a:hover {
  text-decoration: underline;
}

.right-bottom-text {
  width: 310px;
  padding: 0.5rem;
}

.right-bottom-text .top {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.right-bottom-text .top p {
  flex: 1;
}

.right-bottom-text a,
.right-bottom-text span {
  font-family: var(--secondary-font);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #808080;
  display: block;
}

.right-bottom-text .bottom {
  border-top: 1px solid #edeff1;
  padding: 12px 0;
}

.right-bottom-text .bottom span {

  font-size: 13px !important;
}

.right-side-menus .see-more-btn {
  color: var(--blue-color);
  background-color: transparent;
  width: 80px;
  height: 30px;
  padding: 0;
}

.right-side-menus .see-more-btn:hover {
  background-color: #ededed;

}

/* End Right Side Menu Section */

/* ---- End Body Section ---- */


/* Start Get App Popup */
.overlay {
  background-color: rgba(28, 28, 28, .9);
  pointer-events: unset;
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.get-app-popup,
.log-in-popup {
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000001;
  background-color: var(--white-color);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #edeff1;
  border-radius: 24px;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.get-app-popup .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.get-app-popup .head h3 {
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--main-font);
}

.get-app-popup .head i {
  color: var(--icon-gray-color);
  font-size: 24px;
  cursor: pointer;
}

.get-app-popup .scan-text {
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
}

.get-app-popup .scan-text span {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.get-app-popup .stores-text {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.get-app-popup .stores-text span {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* End Get App Popup */


/* Start Log In & Sign Up  Popup */
.overlay-login {
  background-color: rgba(0, 0, 0, 0.4);
}

.log-in-popup {
  max-width: 400px !important;
  height: 640px !important;
  border-radius: 14px !important;
}

.log-in-popup .close-icon,
.log-in-popup .back-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.log-in-popup .back-icon {
  left: 60px;
}

.log-in-popup .close-icon i,
.log-in-popup .back-icon i {
  font-size: 20px;
  color: var(--icon-gray-color);
}

.log-in-popup .text h1 {
  margin-top: 24px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.log-in-popup .text span {
  display: block;
  margin-top: 0.5rem;
  font-family: var(--secondary-font);
  color: var(--dark-bg-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.log-in-popup .text span a {
  color: #0079D3;
}

.log-in-popup .continue-with {
  margin: 2rem 0 18px;
}

.log-in-popup .continue-with>div:not(:last-child) {
  border: 1px solid #dadce0;
  color: #3c4040;
  height: 40px;
  border-radius: 9999px;
  font-family: var(--secondary-font);
  letter-spacing: 0.25px;
  padding: 0 12px;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
}

.log-in-popup .continue-with>div:not(:last-child):hover {
  background: rgba(66, 133, 244, .04);
  border-color: #d2e3fc;
}

.log-in-popup .user-avatar,
.log-in-popup .continue-with img,
.log-in-popup .continue-with svg {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.log-in-popup .user-avatar {
  margin-right: 0.5rem;
}

.log-in-popup .google-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.log-in-popup .google-email .title {
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #3c4043;
  letter-spacing: 0.25px;
  white-space: nowrap;
  text-align: left;
}

.log-in-popup .google-email .email {
  font-size: 11px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #5f6368;
  letter-spacing: 0.25px;
  white-space: nowrap;
}

.log-in-popup .apple-side {
  margin: 0.5rem auto;
}

.log-in-popup .apple-side i {
  font-size: 20px;
  color: var(--black-color);
}

.log-in-popup .apple-email {
  flex: 1;
  text-align: center;
  overflow: hidden;
}

.log-in-popup .apple-email span {
  color: #3c4043;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.log-in-popup .divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 24px;
}

.log-in-popup .divider .line {
  border-top: 1px solid#edeff1;
  flex: 1;
}

.log-in-popup .divider .word {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--main-font);
  color: #787c7e;
  line-height: 18px;
  margin: 0 1rem;
}

.log-in-popup .login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.log-in-popup .login-form .input {
  width: 100%;
  height: 46px;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}

.log-in-popup .login-form input {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f6f7f8;
  border: 1px solid transparent;
  outline: none;
}

.log-in-popup .login-form .input input {
  padding: 22px 36px 10px 16px;
  font-weight: 500;
  font-size: 14px;
  font-family: var(--main-font);
  border-radius: 100px;
}

.log-in-popup .login-form .input label {
  color: #a5a4a4;
  pointer-events: none;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.log-in-popup .login-form .input input:hover,
.log-in-popup .login-form .input input:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.log-in-popup .login-form .input input:hover~label,
.log-in-popup .login-form .input input:focus~label {
  font-size: 12px;
  position: absolute;
  left: 16px;
  top: 5px;
  transform: translateY(0);
}

.log-in-popup .validate-message {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--orange-color);
  margin: 0.5rem;
  font-weight: 500;
  display: none;
}

.log-in-popup .forget-ask,
.log-in-popup .sign-up-link {
  font-family: var(--secondary-font);
  font-size: 12px;
  line-height: 16px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.log-in-popup .forget-ask a,
.log-in-popup .sign-up-link a {
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #0079d3;
  text-decoration: underline;
  line-height: 24px;
}


.log-in-popup .login-form .login-btn {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  border-radius: 9999px;
  margin-top: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  background-color: #d93a00;
  color: var(--white-color);
}

.log-in-popup .login-form .login-btn:hover {
  background-color: #dc4a14;
}

.form-step {
  display: block;
}

.d-none {
  display: none;
}

#login-popup-page,
#signup-popup-page,
#get-app-overlay,
#getapp-popup-page {
  position: fixed;
  display: none;
}

.overlay-login,
.overlay-getapp {
  display: none;
}

#login-popup-page,
#signup-popup-page,
#getapp-popup-page {
  z-index: 88888888888888 !important;
}

/* End Log In & Sign Up Popup */