@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dae0e6;
}

:root {
  --main-font: 'IBM Plex Sans', Arial, sans-serif;
  --secondary-font: 'Noto Sans', Arial, sans-serif;
  ;
  --orange-color: #FF4500;
  --white-color: #fff;
  --text-gray-color: #1c1c1c;
  --dark-bg-color: #1a1a1b;
  --black-color: #000;
  --gray-color: #a5a5a5;
  --light-gray-color: #d7dadc;
  --blue-color: #0079d3;
  --icon-gray-color: #878a8c;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.overlay{
  background-color: rgba(28,28,28,.9);
  pointer-events: unset;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.get-app-popup{
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: var(--white-color);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #edeff1;
  border-radius: 24px;
  width: 100%;
  max-width: 600px;
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.get-app-popup .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} 

.get-app-popup .head h3{
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--main-font);
}

.get-app-popup .head i{
  color: var(--icon-gray-color);
  font-size: 24px;
  cursor: pointer;
}

.get-app-popup .scan-text{
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
}

.get-app-popup .scan-text span{
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.get-app-popup .stores-text{
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.get-app-popup .stores-text span{
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}